DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', 
        'NAME': '',                      
        'USER': '',                      
        'PASSWORD': '',                  
        'HOST': '',
        'PORT': '',
    }
}

PROJECT_URL = ''
SERVER_PROD = False
PREPEND_WWW = False
MEDIA_URL = '/media/'
SECRET_KEY = 'Get one! http://www.miniwebtool.com/django-secret-key-generator/'

# ADMIN emails
ADMINS = (('Manuel Razzari', 'manuel@cvam.com.ar'),)