# Add DB settings as needed, or comment out to use sqlite for dev.
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', 
        'NAME': '',                      
        'USER': '',                      
        'PASSWORD': '',                  
        'HOST': '',
        'PORT': '',
    }
}

DEBUG = True # True for dev, False for prod

SECRET_KEY = 'Get one here: https://djskgen.herokuapp.com/'

# ADMIN emails
ADMINS = (('Administrator, 'admin@localhost'),)