

#content-related,
#changelist-filter {
	max-width: 350px;
	float: left;
	position: static !important;
	margin-right: 0;
	width: 28.8888888889% !important;																/* = 260px * 100% / 900px */
}

#changelist-filter {
	float: right !important;
	margin-top: -61px !important;
	/*margin-top: -88px !important;*/
}


#profile-group .selector .selector-filter {
	padding-left: 2.43161094225% !important;													/* = 8px * 100% / 329px */
	padding-right: 2.43161094225% !important;													/* = 8px * 100% / 329px */
}


.selector .selector-filter {
	padding-left: 2.10526315789% !important;													/* = 8px * 100% / 380px */
	padding-right: 2.10526315789% !important;													/* = 8px * 100% / 380px */
}


#changelist-filter h2 {
	padding: 5px 15px !important;
	letter-spacing: normal !important;
}

#changelist-filter #filters-summary {
	display: none;
	font-size: 11px;
	text-transform: none;
}

.selector .selector-filter label,
.inline-group .aligned .selector .selector-filter label {
	width: 7.39549839228% !important;																/* = 23px * 100% / 311px */
	padding-right: 0.96463022508% !important;												/* = 3px * 100% / 311px */
}



@media (max-width: 767px) {

	.form-row,
	.change-list .filtered .paginator,
	.filtered #toolbar {
		padding-left: 1.45560407569% !important;												/* 10px * 100% / 687px */
		padding-right: 1.45560407569% !important;												/* 10px * 100% / 687px */
	}


	.change-list .filtered .results,
	.filtered #toolbar,
	.filtered div.xfull,
	#changelist-form {
		width: 100% !important;
		padding-right: 0;
		margin-bottom: 40px;
		margin-right: 0 !important;
		float: none;
	}

	.change-list .filtered .paginator,
	.filtered #toolbar{
		width: 97.0887918486% !important;															/* = 667px * 100% / 687px */
		margin-right: 0 !important;
	}

	.filtered div.xfull {
		margin-bottom: 0 !important;
	}

	#changelist-filter {
		max-width: 100%;
		margin-top: 0 !important;
		overflow-y: hidden;
		transition: height 0.3s linear;
	}

	#changelist-filter #filters-summary {
		display: block;
	}

	#changelist-filter h2 {
		cursor: pointer;
		position: relative;
		padding-right: 25px !important;
	}

	#changelist-filter h2:after {
		content: "";
		position: absolute;
		right: 10px;
		top: 12px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 5px 0 5px;
		border-color: #ffffff transparent transparent transparent;
	}

	#changelist-filter.open h2:after {
		border-width: 0 5px 5px 5px;
		border-color: transparent transparent #ffffff transparent;
	}

	#content-related,
	#changelist-filter,
	p.datetime,
	.form-row.field-updated_at label {
		width: 100% !important;
		position: static !important;
		float: none;
	}


	.selector .selector-filter,
	.module caption {
		padding-left: 1.19940029985% !important;													/* = 8px * 100% / 667px */
		padding-right: 1.19940029985% !important;													/* = 8px * 100% / 667px */
	}	

	.selector ul.selector-chooser {
		margin-top: 0 !important;
		margin-left: 0 !important;
		margin-top: 10px !important;
		margin-bottom: 10px !important;
		float: none !important;
		width: 100% !important;
		padding: 0 !important;
		text-align: center;
	}

	.selector .selector-filter label,
	.inline-group .aligned .selector .selector-filter label {
		width: 5.70107858243% !important;																	/* = 37px * 100% / 649px */
		padding: 0 !important;
		text-align: center;
	}

	#profile-group .selector .selector-filter {
		padding-left: 8px !important;
		padding-right: 8px !important;
	}

@media (max-width: 512px) {

	.change-list .filtered .paginator,
	.filtered #toolbar {
		padding-left: 2.18340611354% !important; /* 10px * 100% / 458px */
		padding-right: 2.18340611354% !important; /* 10px * 100% / 458px */
		width: 95.6331877729% !important;
	}

	/* 438px * 100% / 458px */
	.selector .selector-filter label,
	.inline-group .aligned .selector .selector-filter label {
		width: 5.2380952381% !important; /* 22px * 100% / 420px */
		padding-right: 0.47619047619% !important; /* 2px * 100% / 420px */
		float: left !important;
	}

}
}

